---
import { useTranslations } from '../../i18n/utils';
import LangSelector from './LangSelector.jsx';
import type { SupportedLang } from '../../i18n/utils';
import { SITE_NAME } from 'astro:env/client';

interface Props {
  lang: SupportedLang;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
const company = SITE_NAME;

const options = [
  { code: 'es', label: t('navbar.lang_es') },
  { code: 'en', label: t('navbar.lang_en') }
];



---



<header 
  class="w-full"
  {...{
    'x-data': '{ scroll: false }',
    'x-init': "scroll = window.scrollY > 50; window.addEventListener('scroll', () => scroll = window.scrollY > 50)",
    ':class': "scroll ? 'fixed top-0 inset-x-0 z-[9999] bg-black/80 backdrop-blur-md shadow-lg transition-all duration-300' : 'absolute top-0 inset-x-0 z-[9999] bg-gradient-to-b from-black to-transparent transition-all duration-300'"
  }}
>
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5">
        <span class="sr-only">{company}</span>
        <img class="w-20 h-auto" src="/images/logo.png" alt="logo" />
      </a>
    </div>

    <div class="flex lg:hidden">
      <button @click="open = true" type="button" class="-m-2.5 p-2.5 text-gray-400 rounded-md">
        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>

    <div class="hidden lg:flex lg:gap-x-12">
      <a href={`/${lang}/`} class="text-xl font-semibold text-white">{t("navbar.home")}</a>
      <a href={`/${lang}/about`} class="text-xl font-semibold text-white">{t("navbar.about")}</a>
      <a href={`/${lang}/menu`} class="text-xl font-semibold text-white">{t("navbar.menu")}</a>
      <a href={`/${lang}/contact`} class="text-xl font-semibold text-white">{t("navbar.contact")}</a>
      <a href={`/${lang}/map`} class="text-xl font-semibold text-white">{t("navbar.map")}</a>
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <div class="mr-5">
        <LangSelector lang={lang} options={options} client:load />
      </div>
      <a href="#" class="text-xl font-semibold text-white">{t("navbar.login")} &rarr;</a>
    </div>
  </nav>

  <!-- Fondo oscuro -->
  <div
    @click="open = false"
    :class="open ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'"
    class="fixed inset-0 bg-black/50 transition-opacity duration-300 lg:hidden z-[9998]"
    x-cloak
  ></div>

  <!-- Menú móvil -->
  <div
    class="fixed inset-y-0 right-0 w-72 bg-gray-900 p-6 transform transition-transform duration-300 ease-in-out z-[9999] lg:hidden"
    :class="open ? 'translate-x-0' : 'translate-x-full'"
    x-cloak
  >
    <div class="flex items-center justify-between">
      <a href="/" class="-m-1.5 p-1.5">
        <img class="h-15 w-auto" src="/images/logo.png" alt="{company}" />
      </a>
      <button @click="open = false" class="-m-2.5 p-2.5 text-gray-400">
        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <div class="mt-6 space-y-4">
      <a href={`/${lang}/`} class="block text-base font-semibold text-black-light hover:bg-gray-800 p-2 rounded">{t("navbar.home")}</a>
      <a href={`/${lang}/about`} class="block text-base font-semibold text-black-light hover:bg-gray-800 p-2 rounded">{t("navbar.about")}</a>
      <a href={`/${lang}/menu`} class="block text-base font-semibold text-primary hover:bg-gray-800 p-2 rounded">{t("navbar.menu")}</a>
      <a href={`/${lang}/contact`} class="block text-base font-semibold text-primary hover:bg-gray-800 p-2 rounded">{t("navbar.contact")}</a>
      <a href={`/${lang}/map`} class="block text-base font-semibold text-primary hover:bg-gray-800 p-2 rounded">{t("navbar.map")}</a>
      <div class="pt-4">
        <LangSelector lang={lang} options={options} client:load />
      </div>
      <a href="#" class="block text-base font-semibold text-primary hover:bg-gray-800 p-2 rounded">{t("navbar.login")}</a>
    </div>
  </div>


</header>

